<!DOCTYPE html>
<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="photo"><img class="portrait" src="/img/Darya.jpg">
                <p>This site was created by {{name}}. It uses data from <b>mapbox.com</b> and <b>weatherstack.com</b>!</p>
            </div>
        </div>
        {{>footer}}
    </body>

</html>