<!DOCTYPE html>

<html>

    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
           {{>header}}
            <p>Use this site to get your weather</p>
           
           <form class="search" action="">
                <input placeholder="Location">
                <button>Search</button>
           </form>
            <div class="messages">
                <p id="messageLocation"></p>
                <p id="messageForecast"></p>
                <p id="messageError"></p>
            </div>

        </div>

        {{>footer}}

        <script>
            window.appHost = '{{host}}'
        </script>
        <script src="/js/app.js"></script>
    </body>

</html>